@{
ViewBag.Title = "Home Page";
Layout = "_Layout";



}


    <h3>Coin stats</h3>
    <p>BTC</p>

    <form>

        <div>
            <label>INPUT1</label>
            <input/>
        </div>
        <div><label>INPUT2</label>
            <input/>
        </div>

        <div>
            <input type="submit" value="Add">
        </div>
    </form>

    


