@{
ViewBag.Title = "Home Page";
}

    <h3>Coin stats</h3>
    <p>BTC</p>

    <form>
        <div>
            <label>INPUT1</label>
            <input/>
        </div>
        <div><label>INPUT2</label>
            <input/>
        </div>

        <div>
            <input type="submit" value="Add">
        </div>
        
  </form>

      <p>CandleChart</p>
<div id="candle" style="width: 900px; height: 500px;">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="~/js/candlestick.js"></script>
</div>
    


