.face {
    margin-top: 12px;
    max-width: 115px;
    border: 1px solid #222;
    padding: 3px;
}
.nav {

    font-size: 14px;
    
}

.nav li a {
    color: black;
    
}

.nav li.active {
    font-weight: bold;
    
}


#sToggle {

    margin-top: 3px;
    margin-left: -15px;
}


#sidebar {
    background: grey;
    color: black;
    position: fixed;
    height: 100%;
    width: 250px;
    overflow: hidden;
    left: 0;
    transition: left ease-in .25s;
}
  #sidebar.hide-sidebar{
    left: -250px;
    transition: left ease-in .25s;
  }

#wrapper {
  transition: margin-left ease-in .25s;
  margin-left: 250px;
}

#wrapper.hide-sidebar{
     
  transition: margin-left ease-in .25s;
  margin-left: 0;
 
}